<div class="container mt-4">
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card count-card shadow-sm p-3 d-flex flex-row border-0 align-items-center">
                <div class="px-2 py-2 icon shadow-sm rounded-3 ">
                    <i class="lni lni-buildings-1 fs-3"></i>
                </div>
                <div class="ms-3">
                    <p class="mb-1">Total Property</p>
                    <h3 class="fs-3 mb-0 fw-bold">{{total_property}}</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 ">
            <div class="card count-card shadow-sm p-3 d-flex flex-row border-0 align-items-center">
                <div class="p-3 bg-light rounded-circle">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </div>
                <div class="ms-3">
                    <p class="mb-1">Orders</p>
                    <h3 class="fs-3 mb-0 fw-bold">320</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 ">
            <div class="card count-card shadow-sm p-3 d-flex flex-row border-0 align-items-center">
                <div class="p-3 bg-light rounded-circle">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                </div>
                <div class="ms-3">
                    <p class="mb-1">Revenue</p>
                    <h3 class="fs-3 mb-0 fw-bold">$45,000</h3>
                </div>
            </div>
        </div>
    </div>
</div>