<nav class="navbar navbar-expand-lg navbar-light bg-light stickey-top shadow">
    <div class="container-fluid">
        <!-- Left Section -->
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" class="btn me-2 menu-button btn-primary">
            <i class="lni lni-menu-hamburger-1 fs-3"></i>
        </button>
        <form class="d-flex ">
            <div class="position-relative">
                <input type="text" class="form-control pe-5 rounded-pill border-none" placeholder="Search" aria-label="Search">
                <button type="submit" class="position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent px-3">
                    <i class="lni lni-search-2"></i>
                </button>
            </div>
            
        </form>

        <!-- Right Section -->
        <div class="ms-auto d-flex align-items-center">
            <!-- Notification Dropdown -->
            <div class="extend-group-item dropdown me-3">
                <a class="text-reset dropdown-toggle" href="#" role="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="lni lni-bell-1 fs-3"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                    <li class="dropdown-item">No new notifications</li>
                </ul>
            </div>

            <!-- Profile Dropdown -->
            <div class="btn-group">
                <a class="dropdown-toggle" data-bs-toggle="dropdown">
                    <img src="https://i.pravatar.cc/50" class="rounded-circle border border-2 mx-2" alt="Profile Image" width="40" height="40">
                </a>
                <ul class="dropdown-menu dropdown-menu-end px-3 shadow-sm">
                    {% if request.user.is_authenticated and request.user.is_superuser  %}
                    <li class="dropdown-item d-flex align-items-center">
                        <a href="#" class="text-reset d-flex text-decoration-none">
                            <img src="https://i.pravatar.cc/50" class="rounded-circle border border-2 mx-2" alt="Profile Image" width="30" height="30">
                            <span>{{user.username}}</span>
                        </a>
                    </li>
                    <small class="text-muted text-truncate-custom ms-4 overflow-hidden">{{user.email}}</small>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item py-2  rounded d-flex align-items-center" href="#"><i class="fs-5 lni lni-bell-1 me-2"></i> <span>Notification</span></a></li>
                    <li><a class="dropdown-item   py-2  rounded  d-flex align-items-center" href="#"><i class="fs-5 lni lni-user-4 me-2"></i> <span>View Profile</span></a></li>
                    <li><a class="dropdown-item py-2  rounded  d-flex align-items-center" href="#"><i class="fs-5 lni lni-gear-1 me-2"></i> <span>Settings</span></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url "accounts:logout" %}" class="dropdown-item  py-2  rounded  d-flex align-items-center" href="#"><i class="fs-5 lni lni-exit me-2"></i> <span>Sign Out</span></a></li>
                    {% endif %} 
                </ul>
            </div>
        </div>
    </div>
</nav>