<aside class="sidebar-wrapper offcanvas offcanvas-start " tabindex="-1" id="offcanvasSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">HomeLinker</h5>
        <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav winder-menu">
            <li class="nav-item  winder-item ">
                <a href="{% url "home" %}" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-home-2 fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">Home</span>
                </a>
            </li>
            <li class="nav-item  winder-item {% if active_page == 'dashboard' %}active{% endif %} ">
                <a href="{% url "dashboard:dashboard" %}" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-dashboard-square-1 fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">Dashboard</span>
                </a>
            </li>
            
            <li class="nav-item  winder-item">
                <a href="" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-hierarchy-1 fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">Members</span>
                </a>
            </li>

            <li class="nav-item  winder-item">
                <a href="" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-bar-chart-dollar  fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">Transactions</span>
                </a>
            </li>
            <li class="nav-item w-100 pt-1">
                <small>Security & User</small>
                <hr style="border: none; height: 2px; background-color: black; margin: 10px 0;">
            </li>

            <li class="nav-item  winder-item">
                <a href="" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-shield-2-check fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">Authentication</span>
                </a>
            </li>
           
            
            <li class="nav-item  winder-item">
                <a href="" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-user-multiple-4 fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">Accounts</span>
                </a>
            </li>

            <li class="nav-item w-100 pt-1">
                <small>Mapping Data</small>
                <hr style="border: none; height: 2px; background-color: black; margin: 10px 0;">
            </li>


            <li class="nav-item  winder-item">
                <a href="{% url "dashboard:membershipfee" %}" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-hand-taking-dollar fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">MemberShipFee</span>
                </a>
            </li>

            
            <li class="nav-item  winder-item">
                <a href="" class="nav-link text-reset overflow-hidden text-truncate d-block">
                    <i class="lni lni-flag-1  fs-4 d-inline-block align-middle"></i>
                    <span class="d-inline-block align-middle ms-2 text-nowrap">GeoInfo</span>
                </a>
            </li>
            
        </ul>
        
        
    </div>

    <div class="px-3">
        <small>Last Logged-in:<span></span></small>
    </div>
</aside>
