
{% extends "base.html" %}
{% load next_month %}
{% comment %} {% load disable_contextmenu_click %} {% endcomment %}
{% block title %}
<title>Member's Profile</title>
{% endblock title %}



{% block content %}
<style>
/* Member Profile specific styles */
.member-profile-main {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   {% comment %} padding-bottom: 50px; {% endcomment %}
}


.member-profile-title {
    color: #1478a7;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    animation: slideInFromLeft 0.8s ease-out;
}

/*Animation for title*/
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.member-profile-form .form-group {
  margin-bottom: 1.5rem;
}

.member-profile-form label {
    font-weight: 500;
    color: #343a40;
}
.member-profile-form .form-control,
.member-profile-form .form-select {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 1rem;
}

.member-profile-form .form-control:focus,
.member-profile-form .form-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(20, 120, 167, 0.25);
    border-color: #1478a7;
}

.member-profile-form small {
    font-size: 0.9rem;
    color: #6c757d;
    margin-top: 0.2rem;
}
.btn-success {
    background-color: #1478a7 !important;
    border-color: #1478a7 !important;
    color: #fff !important;
    border-radius: 10px !important;
    padding: 14px 26px !important;
    font-weight: 600 !important;
    transition: all 0.3s ease !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn-success i {
    margin-left: 5px;
    font-size: 1.1rem;
}
.btn-success:hover {
    background-color: #0d527a !important;
    border-color: #0d527a !important;
    color: white !important;
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-warning {
  background-color:rgb(206, 53, 33) !important;
  color: #fff !important;
  border-radius: 10px !important;
  padding: 14px 26px !important;
  font-weight: 400 !important;
  transition: all 0.3s ease !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btn-warning i {
  margin-left: 5px;
  font-size: 1.1rem;
}
.btn-warning:hover {
  background-color:rgb(206, 53, 33) !important;
  border-color:rgb(241, 69, 69) !important;
  color: white !important;
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.row {
  margin-bottom: 20px;
}
.login-link {
    color: #1478a7;
    text-decoration: underline;
    transition: color 0.3s ease;
}
.login-link:hover {
     color: #0d527a;
}

.pane-btn{
    color:rgb(42, 91, 196); text-decoration: none; font-weight:400;
}


</style>
{% if request.user.is_authenticated %}
  <!-- Loader -->
  <div id="loader" class="d-none position-fixed top-0 start-0 w-100 vh-100 d-flex flex-column justify-content-center align-items-center bg-white bg-opacity-75" style="z-index: 1055;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Processing...</span>
    </div>
    <p class="mt-3">Processing your payment...</p>
  </div>
  
<div class="container p-2">
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
  </div>
{% endif %}

<!-- Bootstrap Alert -->
<div id="resultMessage" class=" z-4 custom-alert alert d-none alert-dismissible fade show" role="alert">
  <span id="alertText"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

    <main class="member-profile-main">
        <div class="container">
        
           <h1 class="member-profile-title">Member Profile</h1>
           <form id="profile-form-id" method="POST">
            {% csrf_token %}
           
            
            <div class="member-profile-form">
                <div class="row mt-3 mb-4">
                    <div class="col-md-12 text-center">
                     <div class="d-flex gap-2 text-center">
                       <a class="btn btn-warning" id="editButton">Edit</a>
                       <button id="form-0submit" class=" d-none btn btn-success">Submit</button>
                      
                   </div>
                     
                    </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6">
                       <div class="form-group">
                            <label for="first_name">First Name:</label>
                           <input value="{{request.user.first_name|default:""}}" type="text" id="first_name" name="first_name" class="form-control" >
                       </div>
                       <div class="form-group">
                        <label   for="street_number">Street Number:</label>
                        <input  value="{{request.user.member_address.street_no|default:""}}" type="text" id="street_number" name="street_number" class="form-control" > 
                       </div>
                       <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input value="{{request.user.contact_no|default:""}}" type="tel"  id="phone" name="phone" class="form-control"  >
                    </div>                     
                   <div class="form-group">
                        <label for="state">State:</label>
                         {% comment %} <input value="{{request.user.member_address.state|default:""}}" type="text" id="state" name="state" class="form-control" > {% endcomment %}
                          <select class="form-select" id="state" name="state">
                            <option value="" selected>Select Your State</option>
                            {% for state in states %}
                              <option  {% if request.user.member_address.state.id == state.id %}selected{% endif %} value="{{state.id}}">{{state.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group">
                           <label for="last_name">Last Name:</label>
                           <input value="{{request.user.last_name|default:""}}"  type="text" id="last_name" name="last_name" class="form-control" >
                       </div>
                       <div class="form-group">
                        <label for="street">Street Address:</label>
                       <input  value="{{request.user.member_address.street_name|default:""}}"  type="text" id="street" name="street_address" class="form-control"  >
                   </div>

                      <div class="form-group">
                         <label for="email">Email:</label>
                         <input disabled readonly="true" type="email" id="email" name="email" class="form-control "  value="{{ request.user.email }}" >
                       </div>
                       <div class="form-group">
                    <label for="membership_type">Membership Type:</label>
                    <input type="text" id="membership_type" name="membership_type" class="form-control"  value="{{ request.user.member_type }}">
              </div>
                    
                      
                     </div>
                 </div>
               <div class="row mt-3">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="city">City:</label>
                        {% comment %} <input value="{{request.user.member_address.city|default:""}}" type="text" id="city" name="city" class="form-control" > {% endcomment %}
                        <select class="form-select" id="city" name="city">
                            <option value="" selected>Select Your City</option>
                            {% for city in cities %}
                              <option {% if request.user.member_address.city.id == city.id %}selected{% endif %} value="{{city.id}}">{{city.name}}</option>
                            {% endfor %}
                          </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="zip_code">Zip Code:</label>
                         <input value="{{request.user.member_address.zip_code|default:""}}" type="text" id="zip_code" name="zip_code" class="form-control"  >
                     </div>
                 </div>
                 
              </div>
               
                <div class="row mt-3">
                  {% if request.user.member_type == 'buyer' or request.user.member_type == 'seller'  %}
                    <div class="col-md-6">
                        <div class="form-group">
                           <label for="has_agent">Do you have an agent?</label>
                             <select disabled id="has_agent" name="has_agent" class="form-select">
                              
                              <option value="no">No</option>
                                  <option {% if request.user.member_address.agents_email %} selected {% endif %} value="yes">Yes</option>
                              
                             </select>
                         </div>
                    </div>
                  {% endif %}
                  <div class=" {% if request.user.member_type == 'agent' %} col-md-12 {% else %}col-md-6 {% endif %} ">
                    <div class="form-group" style="margin-bottom: 1.5rem;">
                         <label for="business_name" style="font-weight: 500; color: #343a40;">Business Name:</label>
                        <input  value="{{request.user.member_address.business_name|default:""}}" type="text" id="business_name" name="business_name" class="form-control"  style="border: 1px solid #ced4da; border-radius: 8px; padding: 12px 16px; font-size: 1rem;">
                    </div>
                  </div>            
                </div>
               
                  <div id="agent-section" style="display: none;">
                   
         
                      <div class="row mt-3">
                       
                        
                        <div class="col-md-12">
                           <div class="form-group">
                             <label for="agent_email">Agent Email:</label>
                            <input value="{{request.user.member_address.agents_email|default:""}}" type="email" id="agent_email" name="agent_email" class=" form-control"  placeholder="Enter Agent Email">
                            <a class="btn btn-secondary  btn-sm" id="verifyButton">Verify Agent</a> 
                            <span id="agent-exist" class="agent-exist"></span>
                          </div>
                         </div>
                     </div>
                   </div>
            
               
               <div class="row mt-4">
                 <div class="col-md-12">
                    <div class="form-group">
                     <label for="send_question">Send a Question to Admin(Optional):</label>
                      <textarea id="send_question" name="send_question" class="form-control" rows="3"  placeholder="Type your message here..."></textarea>
                    </div>
                 </div>
                </div>
                 
            </div>
            
       
           </form>
        </div>
    </main>
    
   
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container mt-5 pb-3">
    <div class="d-flex align-items-start">
        <!-- Navigation -->
        <div class="nav flex-column nav-pills me-3 fs-5 card rounded p-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link text-center py-3 w-100 active" id="v-pills-billing-tab" data-bs-toggle="pill" data-bs-target="#v-pills-billing" type="button" role="tab" aria-controls="v-pills-billing" aria-selected="true">Billing</button>
            <button class="nav-link text-center py-3 w-100" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
        </div>

        <!-- Content -->
        <div class="tab-content flex-fill" id="v-pills-tabContent">
            <!-- Billing Section -->
            <div class="tab-pane fade show active w-100" id="v-pills-billing" role="tabpanel" aria-labelledby="v-pills-billing-tab">
                <h3>Billing Setup</h3>

                {% if request.user.user_helcim_account.subscriptionId is None and request.user.user_helcim_account.is_subscribed == False %}
                <div class="card shadow-lg border-0">
                    <div class="card-body text-center p-4">
                        <h5 class="card-title text-primary fw-semibold">Activate Your Membership</h5>
                        <p class="card-text text-muted">
                            Please complete your billing steps by adding your credit card to activate your membership plan.
                        </p>
                        <a href="{% url 'transactions_module:process_checkout_add_card' %}" class="btn btn-primary btn-md">
                            <i class="fas fa-credit-card me-2"></i> Add Credit Card
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if not request.user.user_helcim_account and request.user.member_address %}
                <div class="card shadow-lg border-0">
                    <div class="card-body text-center p-4">
                        <h5 class="card-title text-primary fw-semibold">Proceed to Activate Your Membership</h5>
                        <p class="card-text text-muted">
                            Please complete your billing steps to activate your membership plan.
                        </p>
                        <a href="{% url 'transactions_module:process_setup' %}" class="btn btn-primary btn-md">
                            <i class="fas fa-user-check me-2"></i> Continue to Setup
                        </a>
                    </div>
                </div>
                {% elif not request.user.member_address %}
                <p>Please Update Your Profile and Your Address before proceeding!</p>
                {% endif %}

                {% if request.user.user_helcim_account and request.user.user_helcim_account.is_subscribed == True and request.user.user_helcim_account.subscriptionId is not None %}
                <div class="card shadow-sm border-0 p-3 mb-3">
                    <div class="d-flex justify-content-between align-items-center pb-2 border-bottom">
                        <p style="color: #6c757d; font-weight: 300; margin-bottom: 0;">Current Plan</p>
                        {% comment %} <a id="pay-now" href="{% url "transactions_module:process_checkout_add_card" %}" class="pane-btn">Add Another Card</a> {% endcomment %}
                        <button id="pay-now" class="btn-sm  btn-primary btn">Add Another Credit Card</button>
                    </div>

                    <div class="pt-3 ">
                        <h6 class="py-3 text-capitalize" style="font-size: 1.3rem; font-weight: 500; color: #343a40; margin-bottom: 0.5rem;">
                            {{request.user.member_type}} Membership
                            {% if request.user.user_helcim_account.subscription_status == 'active' %}
                            <span class="badge rounded-pill text-bg-success">Active</span>
                            {% else %}
                            <span class="badge rounded-pill text-bg-danger">De-active</span>
                            {% endif %}
                        </h6>
                        <p style="color: #6c757d; margin-bottom: 0;">You'll be charged a monthly subscription via Helcim.</p>
                    </div>
                </div>

                {% if request.user.user_helcim_account.subscription_status == 'active' %}
                <div class="card shadow-sm border-0 p-3">
                    <div class="d-flex justify-content-between align-items-center pb-2 border-bottom">
                        <p style="color: #6c757d; font-weight: 300; margin-bottom: 0;">Next Due</p>
                    </div>

                    <div class="pt-3 ">
                        <p class="py-3" style="font-weight: 400; color: #343a40; margin-bottom: 0.5rem;">
                            {{ request.user.user_helcim_account.signup_date|next_month_same_day }}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>

            <!-- Settings Section -->
            <div class="tab-pane fade w-100" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h3>Settings Content</h3>
                <p>This is the Settings tab content.</p>
                <h5>Cancellation</h5>
                <p class="text-muted">By canceling, your account will be disabled immediately and deleted after one month. <strong>This action is irreversible.</strong></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="confirmCancellation">
                    <label class="form-check-label" for="confirmCancellation">I understand this action cannot be undone.</label>
                </div>
                <button class="btn btn-danger btn-md mt-3" type="button" id="deleteAccountButton" disabled>Delete Account and Membership</button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}
{% block scripts %}

 <!-- JavaScript to Handle Bootstrap Tabs and Checkbox -->
 <script>
 

  document.getElementById('confirmCancellation').addEventListener('change', function() {
    document.getElementById('deleteAccountButton').disabled = !this.checked;
  });
</script>


    <script>
      const API_ROOT = "{{ request.scheme }}://{{ request.get_host }}";
      const CACHE_DURATION = 5 * 60 * 1000; // 5 minutes in milliseconds
      
      document.getElementById("verifyButton").addEventListener("click", function () {
          let email = document.getElementById("agent_email").value;
          let resultMessage = document.getElementById("resultMessage");
          let alertText = document.getElementById("alertText");
          let agentText = document.getElementById("agent-exist");
      
          // Clear previous result message
          resultMessage.classList.add("d-none");
          resultMessage.classList.remove("alert-warning", "alert-success", "alert-danger");
          agentText.textContent = "";
          alertText.textContent = "";
      
          if (!email) {
              agentText.textContent = "⚠️ Please enter an email.";
              alertText.textContent = "⚠️ Please enter an email.";
              resultMessage.classList.remove("d-none");
              resultMessage.classList.add("alert", "alert-warning", "alert-dismissible", "fade", "show");
              return;
          }
      
          // Check if the data is in sessionStorage and still valid
          const cachedData = sessionStorage.getItem(`agent-${email}`);
          const cachedTime = sessionStorage.getItem(`agent-time-${email}`);
          if (cachedData && cachedTime && (Date.now() - cachedTime < CACHE_DURATION)) {
              const data = JSON.parse(cachedData);
              handleResponse(data); // Use cached data if available and valid
              return;
          }
      
          // Fetch data from the API if it's not cached or cache has expired
          fetch(`${API_ROOT}/api-root/accounts/agents/?email=${email}`, {
              method: "GET",
          })
          .then(response => response.json())
          .then(data => {
              // Cache the successful result for later use
              if (data.email) {
                  sessionStorage.setItem(`agent-${email}`, JSON.stringify(data));
                  sessionStorage.setItem(`agent-time-${email}`, Date.now().toString());
              }
              handleResponse(data); // Process the response
          })
          .catch(error => {
              console.error("Error:", error);
              agentText.textContent = "⚠️ Error verifying agent.";
              alertText.textContent = "⚠️ Error verifying agent.";
              resultMessage.classList.remove("d-none");
              resultMessage.classList.add("alert", "alert-danger", "alert-dismissible", "fade", "show");
          });
      
          function handleResponse(data) {
              if (data.email) {
                  agentText.textContent = `✅ Agent verified: ${data.email}`;
                  alertText.textContent = `✅ Agent verified: ${data.email}`;
                  resultMessage.classList.remove("d-none");
                  resultMessage.classList.add("alert", "alert-success", "alert-dismissible", "fade", "show");
              } else {
                  agentText.textContent = "❌ Agent not found.";
                  alertText.textContent = "❌ Agent not found.";
                  resultMessage.classList.remove("d-none");
                  resultMessage.classList.add("alert", "alert-danger", "alert-dismissible", "fade", "show");
              }
          }
      });
      
     
    
        

        function updateTotal() {
          let monthlyFee = parseFloat(document.getElementById("monthly_fee").value) || 0;
          let oneTimeFee = parseFloat(document.getElementById("one_time_fee").value) || 0;

          if (monthlyFee === 0 && oneTimeFee === 0) {
              return; // Do nothing if both are empty or zero
          }

          document.getElementById("total").value = monthlyFee + oneTimeFee;
      }

      document.addEventListener("DOMContentLoaded", updateTotal); // Run on page load
      document.querySelectorAll("#profile-form-id input, #profile-form-id select").forEach(element => element.setAttribute("disabled", "true"));

      document.addEventListener("DOMContentLoaded", function () {
          let isEditing = false; // Track edit mode
      
          document.getElementById("editButton").addEventListener("click", function () {
              isEditing = !isEditing; // Toggle state
      
              var sub = document.getElementById("form-0submit");
      
              document.querySelectorAll("input, select").forEach(element => {
                  if (
                      !element.classList.contains("no-edit") && 
                      !(element.type === "email" && element.id === "email") && 
                      !(element.id === "membership_type")
                  ) {
                      element.disabled = !isEditing;
                  }
              });
      
              if (isEditing) {
                  sub.classList.remove("d-none");
              } else {
                  sub.classList.add("d-none");
              }
          });
      });
      


    
    

    function handleSelection() {
      let selectElement = document.getElementById("has_agent");
      let menuElement = document.getElementById("agent-section");

      if (selectElement.value === "yes") {
          menuElement.style.display = "block";
      } else {
          menuElement.style.display = "none";
      }
  }

  // If selection is changed programmatically, trigger the function
  document.getElementById("has_agent").addEventListener("change", handleSelection);
  document.addEventListener("DOMContentLoaded", () => {
    const select = document.getElementById("has_agent");
    const update_fk = () => console.log("Updating _fk...");
    if (select?.value === "yes"){
      handleSelection()
    }
});



  document.getElementById('editagent').addEventListener('click', () => {
    const inputs = document.querySelectorAll('#agent-section input');
    inputs.forEach(input => input.disabled = !input.disabled); // Toggle the disabled attribute
});
    </script>



{% if request.user.is_authenticated %}
{% include "includes/helcim/cardmodal.html" %}
{% endif %}
{% endblock %}