{% autoescape off %}
Hi {{ user.get_username }},

You're receiving this email because you requested a password reset for your account.

Click the link below to reset your password:
<div class="mt-4">
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" class="btn btn-primary">Change the password</a>
</div>

or 

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link is valid for 4 hours. If you didn’t request this, you can ignore this email.

Thanks,  
HomeLinker
{% endautoescape %}
