{% extends 'base.html' %}
{% block title %}<title>Property Details</title>{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center" style="color: #1478a7; font-weight: 700;  animation: slideInFromLeft 0.8s ease-out;">{{ property.title }}</h1>
        <div class="row">
            <div class="col-md-6">
                 <div style="background-color: #fff; padding: 25px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
                    <h4 style="color: #1478a7; font-weight: 700; margin-bottom: 20px;">Property Details</h4>
                    <p style="margin-bottom: 10px;"><strong>Listing ID:</strong> {{ property.listing_id}}</p>
                    <p style="margin-bottom: 10px;"><strong>Rooms:</strong> {{ property.rooms }}</p>
                     <p style="margin-bottom: 10px;"><strong>Reason for Selling:</strong> {{ property.reason_selling }}</p>
                    <p style="margin-bottom: 10px;"><strong>Selling Type:</strong> {{ property.selling_type }}</p>
                    <p style="margin-bottom: 10px;"><strong>Sell Leaseback:</strong> {{ property.sell_leaseback }}</p>
                     <p style="margin-bottom: 10px;"><strong>Leaseback Month:</strong> {{ property.leaseback_month }}</p>
                     <p style="margin-bottom: 10px;"><strong>Listing State:</strong> {{ property.state }}</p>
                    <p style="margin-bottom: 10px;"><strong>Contact Seller:</strong> <a href="mailto:{{ property.agent_email }}" style="color: #1478a7; text-decoration: underline; transition: color 0.3s ease;">{{ property.agent_name }}</a></p>
                     <div class="text-center mt-3">
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                       <input value="Contact Seller" type="submit" class="btn btn-success" style="background-color: #1478a7 !important; border-color: #1478a7 !important; color: #fff !important; border-radius: 10px !important; padding: 14px 26px !important; font-weight: 600 !important; transition: all 0.3s ease !important; display: flex; align-items: center; justify-content: center; gap: 5px;">
                        </form>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="{{ property.image.url }}" class="img-fluid rounded" alt="Property Image" style="border-radius: 12px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); max-height: 400px; object-fit: cover;">
            </div>
        </div>

       <div style="background-color: #fff; padding: 25px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); margin-top: 20px;">
            <h4 class="mt-4" style="color: #1478a7; font-weight: 700; margin-bottom: 20px;">Location Information</h4>
             <p style="margin-bottom: 10px;"><strong>Address:</strong> {{ property.street_number }} {{ property.street_name }}, {{ property.city }}, {{ property.state }}, {{ property.zipcode }}</p>
            <p style="margin-bottom: 10px;"><strong>Country:</strong> {{ property.country }}</p>
        </div>

         <div style="background-color: #fff; padding: 25px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); margin-top: 20px;">
            <h4 class="mt-4" style="color: #1478a7; font-weight: 700; margin-bottom: 20px;">Additional Features</h4>
            <div class="row">
               <div class="col-md-6">
                 <p style="margin-bottom: 10px;"><strong>Bedrooms:</strong> {{ property.bedrooms }}</p>
                  <p style="margin-bottom: 10px;"><strong>Garage:</strong> {{ property.garage }}</p>
                  <p style="margin-bottom: 10px;"><strong>HOA:</strong> {{ property.hoa }}</p>
               </div>
               <div class="col-md-6">
                   <p style="margin-bottom: 10px;"><strong>Bathrooms:</strong> {{ property.bathrooms }}</p>
                  <p style="margin-bottom: 10px;"><strong>House Size:</strong> {{ property.house_size }} sqft</p>
                    <p style="margin-bottom: 10px;"><strong>Year Built:</strong> {{ property.year_built }}</p>
               </div>
            </div>
        </div>

        <div style="background-color: #fff; padding: 25px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); margin-top: 20px; margin-bottom: 30px;">
           <h4 class="mt-4" style="color: #1478a7; font-weight: 700; margin-bottom: 20px;">Description</h4>
           <p>{{ property.description }}</p>
        </div>
    </div>
{% endblock %}